a {
  text-decoration: none;
  color: #f9ecde;
}

li {
  list-style: none;
}
/* kategori.css */

/* Reset some default margin and padding */

h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9ecde;
}

/* Reset default margin and padding for all elements */

/* Style the header */
header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Adjust the gap between grid items */
  max-width: 100%;
}

.grid-item {
  background-color: #2d1300;
  padding: 10px;
}

.category-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.grid-item a:hover {
  color: #2d1300;
}

/* nav */
/* Reset default margin and padding for lists */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the main navigation bar */
.mainNav {
  background-color: #2d1300;
  color: #f9ecde;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

/* Style the logo/header text */
.mainNav h1 {
  margin: 0;
  font-size: 24px;
}

/* Style the navigation links */
.mainNav nav ul {
  display: flex;
}

.mainNav nav li {
  margin: 0 10px;
  list-style: none;
}

.mainNav nav a {
  text-decoration: none;
  color: #f9ecde;
}

/* Add hover effect on navigation links */
.mainNav nav a:hover {
  color: #2d1300; /* Change to your preferred hover color */
}

mainNav,
h1 {
  color: #f9ecde;
}
